<div>
  <nav class="navbar bg-base-100 shadow-md mb-2">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">
        <img src="/logo.svg" alt="logo" class="h-8 w-auto">
      </a>
    </div>
    <div class="flex-1">
      <a href="/app/products" class="btn btn-ghost text-md">
        Product Catalog
      </a>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
            <span class="badge badge-sm indicator-item">{{ cartCount }}</span>
          </div>
        </div>
       <div
        tabindex="0"
        class="card card-compact dropdown-content bg-base-100 z-[1] mt-3 w-52 shadow">
        <div class="card-body">
            <span class="text-lg font-bold">{{ cartCount }} Items</span>
            <div class="flex flex-col gap-2">
              <div *ngFor="let cartItem of cart" class="flex flex-row items-center p-2 border border-base-300 rounded-md">
                <div>
                  <span class="text-md font-bold">{{ cartItem.name }}</span>
                </div>
                <div>
                  <button class="btn btn-sm btn-circle btn-ghost" (click)="removeFromCart(cartItem)">
                    x
                  </button>
                </div>
              </div>
            </div>
            <span class="text-secondary">Subtotal: ${{ getCartSubtotal() }}</span>
          <div class="card-actions">
            <a href="/app/checkout" class="btn btn-primary btn-block">Checkout</a>
          </div>
        </div>
      </div>
    </div>
      <div class="space-x-2" *ngIf="!currentUser">
        <a href="/app/auth/register" class="btn btn-ghost">Register</a>
        <a href="/app/auth/login" class="btn btn-primary">Login</a>
      </div>

    <div class="dropdown dropdown-end ml-2" *ngIf="currentUser" role="button" tabindex="0">
        <div class="avatar placeholder" >
          <div class="bg-neutral text-neutral-content w-12 rounded-full">
            <span>
              {{ getUserFirstLetter() }}
            </span>
  </div>
</div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a href="/app/profile" class="justify-between">
            Profile
          </a>
        </li>
        <li>
            <button (click)="logout()">
              Logout
              </button>
          </li>
      </ul>
    </div>

    </div>
  </nav>
  <app-notification></app-notification>

  <main class="container mx-auto">
    <router-outlet></router-outlet>
  </main>
</div>
