<div class="flex flex-col items-center justify-center mt-4 gap-6 mb-2">
  <div class="card bg-base-100 shadow-xl w-96">
    <div class="card-body flex items-center">
      <h2 class="card-title w-full text-left">Profile</h2>
      <div class="flex flex-row gap-4">
        <div class="avatar placeholder">
          <div class="bg-neutral text-neutral-content w-16 rounded-full">
            <span>
              {{ getUserFirstLetter() }}
            </span>
          </div>
        </div>
        <div>
          <h2 class="card-title">{{ currentUser?.name }}</h2>
          <p class="text-left text-sm">
            {{ currentUser?.email }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl" *ngIf="orders.length > 0">
    <div class="card-body">
      <h2 class="card-title">Orders</h2>
      <div class="flex flex-col gap-4">
        <div *ngFor="let order of orders" class="border border-base-300 rounded-md p-4 w-full">
          <div>
            <span class="text-md font-bold">Total: ${{ order.total }}</span>
          </div>

          <!-- Products in the Order -->
          <div *ngFor="let product of order.products"
            class="flex flex-row items-center justify-between p-2 mt-2 gap-2 border border-base-300 rounded-md w-full">
            <img [src]="product.img" [alt]="product.name" class="w-16 h-16 object-cover rounded-md">
            <div>
              <span class="text-md font-bold">{{ product.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
